@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&display=swap');


*{
  Box-sizing : border-box ;
  Margin :0 ;
  Padding :0 ;
  }


.home {
  margin: auto;
  box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-image: url('/background4.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  } 

  @media (min-width: 738px) {
    .column-container {
      flex-direction: row; 
    }
  }