.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 10px -2px #232528;
  height: 50px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.titre-presentation {
  font-family: "Kanit";
  font-size: 1.5rem;
  margin-right: 20px;
  margin-top: 5px;
  cursor: pointer;
  user-select: none;
  transition: transform 0.5s ease-in-out;

  &:before {
    background: hsl(45 100% 70%);
    content: "";
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in-out;
    z-index: -1;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}